<?xml version="1.0"?>
<launch>
    <include file="$(find limo_base)/launch/limo_base.launch">
        <arg name="pub_odom_tf" default="true" />

    </include>
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0.105 0 0.1 0.0 0.0 0.0 /base_link /camera_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /imu_link 10" /> 
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" args="0.105 0.0 0.08 0.0 0.0 0.0 /base_link /laser_link 10" />

    <include file="$(find ydlidar_ros)/launch/X2L.launch"/>
    <include file="$(find astra_camera)/launch/dabai_u3.launch"/>
</launch>
