<?xml version="1.0"?>
<launch>
    <arg name="screen" default="log"/>
    <include file="$(find limo_launch)/launch/limo_default.launch"/>
    <include file="$(find limo_behaviour_tree)/launch/limo_behaviour_tree.launch">
        <arg name="screen" value="$(arg screen)"/>
    </include>
    <include file="$(find limo_yolo)/launch/limo_yolo.launch">
        <arg name="screen" value="$(arg screen)"/>
    </include>
</launch>